 <div ng-controller="WFTemplateListCtrl as wftlc">
        <!--div class="col-lg-12 page-header">
                <h2>
                Pipelines
                </h2>
        </div-->

        <div>
            <div class="form-group">
                <h3>
                    Pipelines
                    <span class="pull-right">
                    <a ng-href="#/WFTemplateCreate" class="btn btn-primary " id="btn_product_create">Add Pipeline</a>
                    <a ng-href="#/WFTemplateUpdate/{{idselected.idwftemplates}}" ng-class="{disabled:idselected==null}"
                       class="btn btn-success" id="btn_component_update">Edit</a>                    
                    <button type="button" id="delData" class="btn btn-danger" ng-class="{disabled:idselected==null}"
                            ng-click="wftlc.delTemplate(idselected.idwftemplates,idselected.index)">Del</button>
                    <a ng-href="#/WFTemplateDesigner/{{idselected.idwftemplates}}" ng-class="{disabled:idselected==null}"
                       class="btn btn-success" id="btn_cmpntparam_update">Designer</a>  
                    </span>
                </h3>
                	
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Products...">
                <hr>
            </div>


            <table id="Product_list" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>File</th>
                    <th>Creator</th>
                    <th>Create Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="or_el in wftlc.allWFtemplates | filter:searchText"
                    ng-click="selectrow(or_el,$index)"
                    ng-class="{info: or_el.idwftemplates == idselected.idwftemplates}">
                    <td>
                        {{ or_el.idwftemplates }}
                    </td>
                    <td>
                        {{ or_el.tmplname }}
                    </td>
                    <td>
                        {{ or_el.description }}
                    </td>
                    <td>
                        {{ or_el.xmlfile }}
                    </td>
                    <td>
                        {{ or_el.opusersIdopusers.username}}
                    </td>
                    <td>
                        {{ or_el.createtime}}
                    </td>                    
                </tr>
                <tr ng-hide="wftlc.allWFtemplates.length">
                    <td colspan="6">
                        <p class="text-center">No Pipeline Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <!--PL: TOFIX: Problem, it doesn't work.-->
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ wftlc.allWFtemplates | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>