<div ng-controller="SampleUpdateCtrl as spuc">
    <h1>Update Sample</h1>
    <form id="SampleUpdateForm" name="SampleForm" class="form-horizontal" role="form"
          ng-submit="spuc.updateSample()">
        <legend class="sm-col-12">Sample Basic Information</legend>

        <div class="form-group">
            <label id="sp_id" for="sampleId" class="col-sm-4 control-label">ID</label>

            <div class="col-sm-8">
                <input disabled type="text" class="form-control" name="sampleId" id="spid" placeholder=""
                       ng-model="spuc.Sample.sampleId">
            </div>
        </div>

        <div class="form-group">
            <label id="sp_accession" for="sampleAccession" class="col-sm-4 control-label">Accession</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="sampleAccession" id="spaccession" placeholder=""
                       ng-model="spuc.Sample.sampleAccession">
            </div>
        </div>

        <div class="form-group">
            <label id="ct_name" for="centerName" class="col-sm-4 control-label">Center</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="centerName" id="ctname" placeholder=""
                       ng-model="spuc.Sample.centerName">
            </div>
        </div>

        <div class="form-group">
            <label id="sc_name" for="scientificName" class="col-sm-4 control-label">Scientific Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="scientificName" id="scname" placeholder=""
                       ng-model="spuc.Sample.scientificName">
            </div>
        </div>

        <div class="form-group">
            <label id="sp_Attribute" for="sampleAttribute" class="col-sm-4 control-label">Attribute</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="sampleAttribute" id="spAttribute" placeholder=""
                       ng-model="spuc.Sample.sampleAttribute">
            </div>
        </div>

        <div class="form-group">
            <label id="st_submissionaccession" for="submissionAccession" class="col-sm-4 control-label">Submission</label>

            <div class="col-sm-8">
                <input disabled type="text" class="form-control" name="submissionAccession" id="stsubmissionaccession" placeholder=""
                       ng-model="spuc.SampleRefsubmissionAccession">
                <button type="button" class="btn btn-default pull-right" ng-click="spuc.openSubmission('lg')">Choose Submission</button> 
            </div>

        </div> 
        <pre>{{ spuc.Sample | json }}</pre>
        <pre>{{ spuc.SampleRefsubmissionAccession | json}}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="#/SampleList" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_update">Update Sample</button>
            </div>
        </div>


    </form>    
</div>