<div ng-controller="SampleListCtrl as splc">
    <div class="row">
        <div class="col-lg-12 page-header">
            <h2>
                样例
                <a ng-href="#/SampleCreate" class="btn btn-primary pull-right" id="btn_sample_create">添加样例</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <!--div class="col-lg-4">
            <span class="label label-primary">Search</span>
        </div-->
        <div class="col-lg-12">            
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="在这里输入进行检索...">
                <hr>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="splc_tbl" class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="8" >
                <uib-pagination total-items="splc.count" ng-model="splc.currentPage" 
                                ng-change="splc.pageChanged()" boundary-links="true"
                                boundary-link-numbers="true" max-size="5" items-per-page="splc.pageSize"
                                >                                   
                </uib-pagination>
                </td>
                <td colspan="1" style="text-align:center;vertical-align:middle;">

                    共计 :<span class="badge">{{splc.count}}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                        </li>
                    </ul>
                    <span class="label label-primary"></span>
                </td> 
                </tr>
                </tfoot>   

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>增加编号</th>
                        <th>中心</th>
                        <th>科学命名</th>
                        <th>样例特征</th>
                        <th>样例别名</th>
                        <th>更新</th>
                        <th>提交</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="sample_el in splc.curPageItems| filter:searchText">
                        <td>
                            {{sample_el.sampleId}}
                        </td>
                        <td>
                            {{sample_el.sampleAccession}}
                        </td>
                        <td>
                            {{sample_el.centerName}}
                        </td>
                        <td>
                            {{sample_el.scientificName}}
                        </td>
                        <td>
                            {{sample_el.sampleAttribute}}
                        </td>
                        <td>
                            {{sample_el.sampleAlias}}
                        </td>
                        <td>
                            {{sample_el.sradbUpdated}}
                        </td>
                        <td>
                            {{sample_el.submissionAccession}}
                        </td>
                        <td>
                            <div class="row">
                                <a ng-href="#/SampleUpdate/{{sample_el.sampleId}}" class="btn btn-success " id="btn_sample_update">编辑</a>		
                                <button type="button" id="delSample" class="btn btn-danger " ng-click="splc.delSample(sample_el.sampleId, $index)">删除</button>
                                <span></span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="splc.curPageItems.length">
                        <td colspan="7">
                            <p class="text-center">没有检索结果</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--     <div class="row">
        <div ng-if="splc.is_debug">
            <h3>
                Debug
            </h3>
            <hr>

            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ splc.count|json}}</pre>
                    <pre>{{ splc.curPageItems|json}}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div> -->
</div>
