<div ng-controller="RunCreateCtrl as rcc">
    <h1>Create Run</h1>
    <form id="RunCreateForm" name="RunForm" class="form-horizontal" role="form"
          ng-submit="rcc.createRun()">
        <legend class="sm-col-12">Run Basic Information</legend>

        <div class="form-group">
            <label id="rn_id" for="runId" class="col-sm-4 control-label">ID</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="runId" id="rnid" placeholder=""
                       ng-model="rcc.Run.runId">
            </div>
        </div>

        <div class="form-group">
            <label id="rn_accession" for="runAccession" class="col-sm-4 control-label">Accession</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="runAccession" id="rnaccession" placeholder=""
                       ng-model="rcc.Run.runAccession">
            </div>
        </div>

        <div class="form-group">
            <label id="rn_center" for="runCenter" class="col-sm-4 control-label">Center</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="runCenter" id="rncenter" placeholder=""
                       ng-model="rcc.Run.runCenter">
            </div>
        </div>

        <div class="form-group">
            <label id="rn_Alias" for="runAlias" class="col-sm-4 control-label">Alias</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="runAlias" id="rnAlias" placeholder=""
                       ng-model="rcc.Run.runAlias">
            </div>
        </div>

        <div class="form-group">
            <label id="ep_Accession" for="experimentAccession" class="col-sm-4 control-label">Experiment</label>

            <div class="col-sm-8">
                <input disabled type="text" class="form-control" name="experimentAccession" id="epAccession" placeholder=""
                       ng-model="rcc.RunRefexperimentAccession">
                <button type="button" class="btn btn-default pull-right" ng-click="rcc.openExperiment('lg')">Choose Experiment</button>
            </div>
        </div>

        <div class="form-group">
            <label id="rn_attribute" for="runAttribute" class="col-sm-4 control-label">Attribute</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="runAttribute" id="rn  attribute" placeholder=""
                       ng-model="rcc.Run.runAttribute">
            </div>
        </div>
        
        <div class="form-group">
            <label id="rn_Date" for="runDate" class="col-sm-4 control-label">Data</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="runDate" id="rnDate" placeholder=""
                       ng-model="rcc.Run.runDate">
            </div>
        </div>
        
        <div class="form-group">
            <label id="sra_Updated" for="sradbUpdated" class="col-sm-4 control-label">Updated</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="sradbUpdated" id="sraUpdated" placeholder=""
                       ng-model="rcc.Run.sradbUpdated">
            </div>
        </div>

        <div class="form-group">
            <label id="rn_submissionaccession" for="submissionAccession" class="col-sm-4 control-label">Submission</label>

            <div class="col-sm-8">
                <input disabled type="text" class="form-control" name="submissionAccession" id="rnsubmissionaccession" placeholder=""
                       ng-model="rcc.RunRefsubmissionAccession">
                <button type="button" class="btn btn-default pull-right" ng-click="rcc.openSubmission('lg')">Choose Submission</button> 
            </div>

        </div> 

        <pre>{{ rcc.Run | json }}</pre>
        <pre>{{ rcc.RunRefsubmissionAccession | json}}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="#/RunList" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Create Run</button>
            </div>
        </div>


    </form>    
</div>