<div ng-controller="RunListCtrl as rlc">
    <div class="row">
        <div class="col-lg-12 page-header">
            <h2>
                运行
                <a ng-href="#/RunCreate" class="btn btn-primary pull-right" id="btn_run_create">添加运行</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <!--div class="col-lg-4">
            <span class="label label-primary">Search</span>
        </div-->
        <div class="col-lg-12">            
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="在这里输入进行检索...">
                <hr>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="rlc_tbl" class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="9" >
                <uib-pagination total-items="rlc.count" ng-model="rlc.currentPage" 
                                ng-change="rlc.pageChanged()" boundary-links="true"
                                boundary-link-numbers="true" max-size="5" items-per-page="rlc.pageSize"
                                >                                   
                </uib-pagination>
                </td>
                <td colspan="1" style="text-align:center;vertical-align:middle;">

                    共计 :<span class="badge">{{rlc.count}}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                        </li>
                    </ul>
                    <span class="label label-primary"></span>
                </td> 
                </tr>
                </tfoot>   

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>增加编号</th>
                        <th>中心</th>
                        <th>别名</th>
                        <th>实验</th> 
                        <th>摘要</th>
                        <th>数据</th>
                        <th>更新</th>
                        <th>提交</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="run_el in rlc.curPageItems| filter:searchText">
                        <td>
                            {{run_el.runId}}
                        </td>
                        <td>
                             {{run_el.runAccession}}                   
                        </td>
                        <td>
                            {{run_el.runCenter}}
                        </td>
                        <td>
                            {{run_el.runAlias}}
                        </td>
                        <td>
                            <a href="#/RunExperimentShow/{{run_el.experimentAccession}}">{{run_el.experimentAccession}}</a>
                        </td>
                        <td>
                            {{run_el.runAttribute}}
                        </td>
                        <td>
                            {{run_el.runDate}}
                        </td>
                        <td>
                            {{run_el.sradbUpdated}}
                        </td>
                        <td>
                            {{run_el.submissionAccession}}
                        </td>
                        <td>
                            <div class="row">
                                <a ng-href="#/RunUpdate/{{run_el.runId}}" class="btn btn-success " id="btn_run_update">更新</a>		
                                <button type="button" id="delRun" class="btn btn-danger " ng-click="rlc.delRun(run_el.runId, $index)">删除</button>
                                <span></span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="rlc.curPageItems.length">
                        <td colspan="7">
                            <p class="text-center">没有搜索结果</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--     <div class="row">
        <div ng-if="rlc.is_debug">
            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ rlc.count|json}}</pre>
                    <pre>{{ rlc.curPageItems|json}}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div> -->
</div>
