<div>
    <div class="modal-header">
            <h3 class="modal-title">请选择仪器</h3>
    </div>            
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    
                    <th>ID/名称</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in instrumentList"><!-- ng-click="selectrow(studytype_it)"-->
                    <!-- ng-class="{rowselected:studytype_it.idstudytype == idselected.idstudytype}" -->
                    <td>
                        <input type="checkbox" checklist-model="InstrumentChoseList"
                                       checklist-value="item" checklist-comparator=".instrumentid"
                                       ng-change="checkInstrument(item,checked,item.instrumentname)"> [{{item.instrumentid}}]{{ item.instrumentname }}
                    </td>
                    
                </tr>
            </tbody>
            <tfoot>
                    <tr>
                        <td colspan="4" >
                <uib-pagination total-items="instrumentCount" ng-model="currentPage" 
                                ng-change="pageChanged()" boundary-links="true"
                                boundary-link-numbers="true" max-size="5" 
                                items-per-page="pageSize"></uib-pagination>
                </td>
                <td colspan="1" style="text-align:center;vertical-align:middle;">

                    共计:<span class="badge">{{instrumentCount}}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                        </li>
                    </ul>
                    <span class="label label-primary"></span>
                </td> 
                </tr>
        </table>
        <!--<ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b> -->
 <!--        <div ng-if="is_debug">
            <pre>{{InstrumentChoseList|json}}</pre>
        </div> -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">关闭</button>
        <!--button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button-->
    </div>
</div>