<div ng-controller="SearchStudyCtrl as sstudyCtrl">
    <div class="row">
        <div class="col-lg-12 page-header">
            <h2>
                研究
            </h2>
        </div>
    </div>
    <div class="row">
        <!--div class="col-lg-4">
            <span class="label label-primary">Search</span>
        </div-->
        <div class="col-lg-12">            
            <!-- remote url:http://localhost:8080/XYHRDAServer/webresources/words/bywildcard/diabe -->
            <div angucomplete-alt id="ex7" placeholder="通过研究的标题、描述等进行检索..."                  
                 pause="100"  
                 remote-url="{{sstudyCtrl.BackendAddr}}/words/bywildcard/"
                 search-fields="wordscol" title-field="wordscol" description-field="idwords" minlength="1" 
                 input-class="form-control form-control-small"
                 selected-object="sstudyCtrl.onSearch"
                 match-class="highlight">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        检索条件 <span class="badge pull-right">{{sstudyCtrl.count}}</span>

                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                        </a>
                    </h4>
                </div>
                <div class="panel-body">
                    <!--b>Classification</b>
                    
                    <ul id="category" class="list-group">
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.diseaseCount}}</span>
                        Disease
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.pathwayCount}}</span>
                        Pathway
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.geneCount}}</span>
                        Gene
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.snpCount}}</span>
                        SNP
                      </li>
                    </ul>
                   
                    <b>Filter Criterion</b-->

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sstudyCtrl.isOrgOpen">
                            <uib-accordion-heading>
                                生物 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sstudyCtrl.isOrgOpen, 'glyphicon-chevron-right': !sstudyCtrl.isOrgOpen}"></i>
                                <span class="badge pull-right">{{sstudyCtrl.taxonsCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sstudyCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sstudyCtrl.taxonLeftList">
                                    <input type="checkbox" checklist-model="sstudyCtrl.taxonsChose"
                                           checklist-value="item" checklist-comparator=".taxonid">{{item.taxonname}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sstudyCtrl.openTaxonChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sstudyCtrl.isTyOpen">
                            <uib-accordion-heading>
                                类型 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sstudyCtrl.isTyOpen, 'glyphicon-chevron-right': !sstudyCtrl.isTyOpen}"></i>
                                <span class="badge pull-right">{{sstudyCtrl.typeCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sstudyCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sstudyCtrl.typeLeftList">
                                    <input type="checkbox" checklist-model="sstudyCtrl.typeChose"
                                           checklist-value="item" checklist-comparator=".typename">{{item.typename}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sstudyCtrl.openTypeChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sstudyCtrl.isSbOpen">
                            <uib-accordion-heading>
                                提交者 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sstudyCtrl.isSbOpen, 'glyphicon-chevron-right': !sstudyCtrl.isSbOpen}"></i>
                                <span class="badge pull-right">{{sstudyCtrl.submitterCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sstudyCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sstudyCtrl.submitterLeftList">
                                    <input type="checkbox" checklist-model="sstudyCtrl.submitterChose"
                                           checklist-value="item" checklist-comparator=".submittername">{{item.submittername}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sstudyCtrl.openSubmitterChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sstudyCtrl.isInOpen">
                            <uib-accordion-heading>
                                仪器 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sstudyCtrl.isInOpen, 'glyphicon-chevron-right': !sstudyCtrl.isInOpen}"></i>
                                <span class="badge pull-right">{{sstudyCtrl.instrumentCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sstudyCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sstudyCtrl.instrumentLeftList">
                                    <input type="checkbox" checklist-model="sstudyCtrl.instrumentChose"
                                           checklist-value="item" checklist-comparator=".instrumentname">{{item.instrumentname}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sstudyCtrl.openInstrumentChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <div>
                        <center>
                            <button class="btn btn-default" ng-click="sstudyCtrl.onFilter()">检索</button>
                        </center>
                    </div>
<!--                     <div ng-if="sstudyCtrl.is_debug">
                        <pre>{{ sstudyCtrl.taxonChoseIds | json}}</pre>
                        <pre>{{ sstudyCtrl.taxonsChose | json}}</pre>
                        <pre>{{ sstudyCtrl.typeLeftList | json}}</pre>
                    </div> -->
                </div>
            </div>
        </div>        

        <div class="col-lg-8 col-md-8">
            <table id="sstudyCtrl_tbl" class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="6" >
                <uib-pagination total-items="sstudyCtrl.count" ng-model="sstudyCtrl.currentPage" 
                                ng-change="sstudyCtrl.pageChanged()" boundary-links="true"
                                boundary-link-numbers="true" max-size="5" items-per-page="sstudyCtrl.pageSize"
                                >                                   
                </uib-pagination>
                </td>
                <td colspan="1" style="text-align:center;vertical-align:middle;">

                    共计 :<span class="badge">{{sstudyCtrl.count}}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                        </li>
                    </ul>
                    <span class="label label-primary"></span>
                </td> 
                </tr>
                </tfoot>   

                <thead>
                    <tr>
                        <th>增加编号</th>
                        <th>标题</th>
                        <th>生物</th>
                        <th>类型</th>
                        <th>描述</th>
                        <th>提交者</th>
                        <th>提交</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="strl_el in sstudyCtrl.curPageItems| filter:searchText ">
                        <td>
                           <a href="#/ExperimentStudyShow/{{strl_el.studyAccession}}">{{strl_el.studyAccession}}</a>
                        </td>
                        <td>
                            {{ strl_el.studyTitle}}
                        </td>                       
                        <td>  
                            <span ng-repeat="strl_al in GetTaxonname($index)| filter:searchText ">
                           {{strl_al.taxonname}}
                           </span>
                        </td>
                        <td>
                            {{ strl_el.studyType}}
                        </td>
                        <td>
                            {{ strl_el.studyDescription}}
                        </td>
                        <td>
                            <span ng-repeat="strl_sl in GetSubmittername($index)| filter:searchText ">
                           {{strl_sl.submittername}}
                           </span>
                        </td>
                        <td>
                            {{ strl_el.submissionAccession}}
                        </td>
                    </tr>
                    <tr ng-hide="sstudyCtrl.curPageItems.length">
                        <td colspan="6">
                            <p class="text-center">没有检索结果</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <h3>Total: {{sstudyCtrl.count}}</h3> -->
        </div>
    </div>
<!--     <div class="row">
        <div ng-if="sstudyCtrl.is_debug">


            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>

                    <pre>{{ sstudyCtrl.curPageItems | json }}</pre>
                    <pre>{{ sstudyCtrl.Organism | json }}</pre>
                    <pre>{{ sstudyCtrl.searchInputObj|json}}</pre>

                </accordion-group>
            </accordion>
        </div>

    </div>
 --></div>
