/* app css stylesheet */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
* {margin: 0px;padding: 0px}

.main-color {

}

.main-color > .panel-heading{
    color: black;
    background-color: #E7F7F9;
    border-color: #E7F7F9;
}

#band {
    height: 220px;
    background-color: #E7F7F9;
    /*margin-top: 65px;*/
    padding: 10px 0;
}
#band .bandImg{
    float: left;
    width: 200px;
    height: 100%;
    padding-top: 5px;
}

body{
  /*min-height: 2000px;*/
  padding-top: 70px;
}
ul {margin: 10px;}
/*li {list-style-type: square;}*/
/*ul.disc {list-style-type: disc;}*/

footer {
    text-align: center;
}

.bigger-item-group{
    height: 60px;
    line-height: 38px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
