<div ng-controller="StudyListCtrl as slc">
    <div class="row">
        <div class="col-lg-12 page-header">
            <h2>
                研究
                <a ng-href="#/StudyCreate" class="btn btn-primary pull-right" id="btn_study_create">添加研究</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <!--div class="col-lg-4">
            <span class="label label-primary">Search</span>
        </div-->
        <div class="col-lg-12">            
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="在这里输入进行检索...">
                <hr>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="slc_tbl" class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="7" >
                <uib-pagination total-items="slc.count" ng-model="slc.currentPage" 
                                ng-change="slc.pageChanged()" boundary-links="true"
                                boundary-link-numbers="true" max-size="5" items-per-page="slc.pageSize"
                                >                                   
                </uib-pagination>
                </td>
                <td colspan="1" style="text-align:center;vertical-align:middle;">

                    共计 :<span class="badge">{{slc.count}}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                        </li>
                    </ul>
                    <span class="label label-primary"></span>
                </td> 
                </tr>
                </tfoot>   

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>增加编号</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>摘要</th>
                        <th>描述</th>
                        <th>提交</th>
                        <th>操作</th>                      
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="strl_el in slc.curPageItems| filter:searchText">
                        <td>
                            {{strl_el.studyId}}
                        </td>
                        <td>
                            {{ strl_el.studyAccession}}
                        </td>
                        <td>
                            {{ strl_el.studyTitle}}
                        </td>
                        <td>
                            {{ strl_el.studyType}}
                        </td>
                        <td>
                            {{ strl_el.studyAbstract}}
                        </td>
                        <td>
                            {{ strl_el.studyDescription}}
                        </td>
                        <td>
                            {{ strl_el.submissionAccession}}
                        </td>
                        <td>
                            <div class="row">
                                <a ng-href="#/StudyUpdate/{{strl_el.studyId}}" class="btn btn-success " id="btn_study_update">更新</a>		
                                <button type="button" id="delStudy" class="btn btn-danger " ng-click="slc.delStudy(strl_el.studyId, $index)">删除</button>
                                <span></span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="slc.curPageItems.length">
                        <td colspan="7">
                            <p class="text-center">没有检索结果</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <h3>Total: {{slc.count}}</h3> -->
        </div>
    </div>
    
<!--     <div class="row">
        <div ng-if="slc.is_debug">
            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ slc.searchInputObj|json}}</pre>
                    <pre>{{ slc.count|json}}</pre>
                    <pre>{{ slc.curPageItems|json}}</pre>
                </accordion-group>
            </accordion>
        </div> -->

    </div>
</div>
