<div ng-controller="SearchExperimentCtrl as sexperimentCtrl">
    <div class="row">
        <div class="col-lg-12 page-header">
            <h2>
                实验
            </h2>
        </div>
    </div>
    <div class="row">
        <!--div class="col-lg-4">
            <span class="label label-primary">Search</span>
        </div-->
        <div class="col-lg-12">            
            <!-- remote url:http://localhost:8080/XYHRDAServer/webresources/words/bywildcard/diabe -->
            <div angucomplete-alt id="ex7" placeholder="通过实验的标题、描述等进行检索..."                  
                 pause="100"  
                 remote-url="{{sexperimentCtrl.BackendAddr}}/words/bywildcard/"
                 search-fields="wordscol" title-field="wordscol" description-field="idwords" minlength="1" 
                 input-class="form-control form-control-small"
                 selected-object="sexperimentCtrl.onSearch"
                 match-class="highlight">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        检索条件 <span class="badge pull-right">{{sexperimentCtrl.count}}</span>

                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                        </a>
                    </h4>
                </div>
                <div class="panel-body">
                    <!--b>Classification</b>
                    
                    <ul id="category" class="list-group">
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.diseaseCount}}</span>
                        Disease
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.pathwayCount}}</span>
                        Pathway
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.geneCount}}</span>
                        Gene
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{srlCtrl.snpCount}}</span>
                        SNP
                      </li>
                    </ul>
                   
                    <b>Filter Criterion</b-->

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isOrgOpen">
                            <uib-accordion-heading>
                                生物 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isOrgOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isOrgOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.taxonsCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.taxonLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.taxonsChose"
                                           checklist-value="item" checklist-comparator=".taxonid">{{item.taxonname}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openTaxonChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isTyOpen">
                            <uib-accordion-heading>
                                类型 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isTyOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isTyOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.typeCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.typeLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.typeChose"
                                           checklist-value="item" checklist-comparator=".typename">{{item.typename}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openTypeChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isStOpen">
                            <uib-accordion-heading>
                                库策略 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isStOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isStOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.strategyCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.strategyLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.strategyChose"
                                           checklist-value="item" checklist-comparator=".strategyname">{{item.strategyname}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openStrategyChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isScOpen">
                            <uib-accordion-heading>
                                库源 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isScOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isScOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.sourceCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.sourceLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.sourceChose"
                                           checklist-value="item" checklist-comparator=".sourcename">{{item.sourcename}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openSourceChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isSeOpen">
                            <uib-accordion-heading>
                                库选项 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isSeOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isSeOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.selectionCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.selectionLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.selectionChose"
                                           checklist-value="item" checklist-comparator=".selectionname">{{item.selectionname}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openSelectionChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isSbOpen">
                            <uib-accordion-heading>
                                提交者 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isSbOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isSbOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.submitterCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.submitterLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.submitterChose"
                                           checklist-value="item" checklist-comparator=".submittername">{{item.submittername}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openSubmitterChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="sexperimentCtrl.isInOpen">
                            <uib-accordion-heading>
                                仪器 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sexperimentCtrl.isInOpen, 'glyphicon-chevron-right': !sexperimentCtrl.isInOpen}"></i>
                                <span class="badge pull-right">{{sexperimentCtrl.instrumentCount}}</span>
                            </uib-accordion-heading>
                            <ul class="list-group" >
                                <!-- li class="list-group-item" ng-repeat="item in sexperimentCtrl.taxonsList"-->
                                <li class="list-group-item" ng-repeat="(key,item) in sexperimentCtrl.instrumentLeftList">
                                    <input type="checkbox" checklist-model="sexperimentCtrl.instrumentChose"
                                           checklist-value="item" checklist-comparator=".instrumentname">{{item.instrumentname}}
                                </li>  
                                <li class="list-group-item" > <button class="btn btn-default" ng-click="sexperimentCtrl.openInstrumentChooser()">查看全部</button> </li>
                            </ul>                           
                        </div>
                    </uib-accordion>

                    <div>
                        <center>
                            <button class="btn btn-default" ng-click="sexperimentCtrl.onFilter()">检索</button>
                        </center>
                    </div>
<!--                     <div ng-if="sexperimentCtrl.is_debug">
                        <pre>{{ sexperimentCtrl.taxonChoseIds | json}}</pre>
                        <pre>{{ sexperimentCtrl.taxonsChose | json}}</pre>
                        <pre>{{ sexperimentCtrl.taxonLeftList | json}}</pre>
                    </div> -->
                </div>
            </div>
        </div>        

        <div class="col-lg-8 col-md-8">
            <table id="sexperimentCtrl_tbl" class="table table-striped">
                <tfoot>
                    <tr>
                        <td colspan="7" >
                <uib-pagination total-items="sexperimentCtrl.count" ng-model="sexperimentCtrl.currentPage" 
                                ng-change="sexperimentCtrl.pageChanged()" boundary-links="true"
                                boundary-link-numbers="true" max-size="5" items-per-page="sexperimentCtrl.pageSize"
                                >                                   
                </uib-pagination>
                </td>
                <td colspan="1" style="text-align:center;vertical-align:middle;">

                    共计 :<span class="badge">{{sexperimentCtrl.count}}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                        </li>
                    </ul>
                    <span class="label label-primary"></span>
                </td> 
                </tr>
                </tfoot>   

                <thead>
                    <tr>
                        <th>增加编号</th>
                        <th>标题</th>
                        <th>生物</th>
                        <th>描述</th>
                        <th>设备</th>
                        <th>研究</th>
                        <th>提交者</th>
                        <th>提交</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="eprl_el in sexperimentCtrl.curPageItems| filter:searchText">
                        <td>
                            <a href="#/RunExperimentShow/{{eprl_el.experimentAccession}}">{{eprl_el.experimentAccession}}</a>
                        </td>
                        <td>
                            {{eprl_el.title}}
                        </td>
                           <td>  
                            <span ng-repeat="eprl_al in GetTaxonname($index)| filter:searchText ">
                           {{eprl_al.taxonname}}
                           </span>
                        </td>         
                        <td>
                            {{eprl_el.designDescription}}
                        </td>
                        <td>
                            {{ eprl_el.instrumentModel}}
                        </td>
                        <td>
                           <a href="#/ExperimentStudyShow/{{eprl_el.studyAccession}}">{{eprl_el.studyAccession}}</a>
                        </td>
                           <td>
                            <span ng-repeat="eprl_sl in GetSubmittername($index)| filter:searchText ">
                           {{eprl_sl.submittername}}
                           </span>
                        </td>
                        <td>
                            {{eprl_el.submissionAccession}}
                        </td>
                    </tr>
                    <tr ng-hide="sexperimentCtrl.curPageItems.length">
                        <td colspan="8">
                            <p class="text-center">没有检索结果</p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div ng-if="sexperimentCtrl.is_debug">
            <!--
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Orders...">
                <hr>
            </div>
            <pre>{{ sexperimentCtrl.inputSearchTxt | json }}</pre>
            <div class="form-group">
                Input:<label ng-model="sexperimentCtrl.inputSearchTxt"></label><input class="form-control" type="text" ng-model="sexperimentCtrl.inputSearchTxt">
                <hr>
            </div>
            -->

<!--             <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ sexperimentCtrl.curPageItems | json }}</pre>
                    <pre>{{ sexperimentCtrl.count| json }}</pre>
                    <pre>{{ sexperimentCtrl.searchInputObj|json}}</pre>

                </accordion-group>
            </accordion>
        </div> -->

    </div>
</div>