<div ng-controller="SearchStudyCtrl as sstudyCtrl">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="sstudyCtrl_tbl" class="table table-striped">
                    <tfoot>
                        <tr>
                            <td colspan="3" >
                                <uib-pagination total-items="sstudyCtrl.count" ng-model="sstudyCtrl.currentPage" 
                                        ng-change="sstudyCtrl.pageChanged()" boundary-links="true"
                                        boundary-link-numbers="true" max-size="5" 
                                        items-per-page="sstudyCtrl.pageSize"></uib-pagination>
                            </td>
                            <td colspan="2" style="text-align:center;vertical-align:middle;">
                            
                            Total:<span class="badge">{{sstudyCtrl.count}}</span>
                                <ul class="nav nav-pills">
                                    <li role="presentation" class="active">
                                    </li>
                                </ul>
                                <span class="label label-primary"></span>
                            </td> 
                        </tr>
                    <!--
                    <div class="col-sm-10">                        
                            
                    </div>
                    <div class="col-sm-2">
                        <div class="vertical-align:middle">
                            
                        </div>
                    </div>
                    -->
                    </tfoot>

                    <thead>
                    <tr>
                        <th>Accession</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Submission</th>                    
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="strl_el in sstudyCtrl.curPageItems | filter:searchText">
                        <td>
                            {{ strl_el.studyAccession }}
                        </td>
                        <td>
                            {{ strl_el.studyTitle }}
                        </td>
                        <td>
                            {{ strl_el.studyType }}
                        </td>
                        <td>
                            {{ strl_el.studyDescription }}
                        </td>
                        <td>
                            {{ strl_el.submissionAccession }}
                        </td>
                    </tr>
                    <tr ng-hide="sstudyCtrl.curPageItems.length">
                        <td colspan="5">
                            <p class="text-center">No Search Result Found</p>
                        </td>
                    </tr>
                    </tbody>
                                    </table>
                <!-- <h3>Total: {{sstudyCtrl.count}}</h3> -->
            </div>
        </div>
    <div class="row">
            <div ng-if="sstudyCtrl.is_debug">
            <!--
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Orders...">
                <hr>
            </div>
            <pre>{{ sstudyCtrl.inputSearchTxt | json }}</pre>
            <div class="form-group">
                Input:<label ng-model="sstudyCtrl.inputSearchTxt"></label><input class="form-control" type="text" ng-model="sstudyCtrl.inputSearchTxt">
                <hr>
            </div>
            -->
            
            <h3>
                Debug
            </h3>
            <hr>
            <!--PL: TOFIX: Problem, it doesn't work.-->
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ sstudyCtrl.curPageItems | json }}</pre>
                    <pre>{{ sstudyCtrl.count| json }}</pre>
                    
                </accordion-group>
            </accordion>
        </div>
        
    </div>
</div>
